@use '@/styles' as *;

.cat-card {
  @include transition;

  display: flex;
  position: relative;
  width: 225px;
  height: 225px;

  &:not(.loading) {
    &:hover {
      @include shadow;

      transform: scale(1.05);

      .favorite-icon-wrapper {
        opacity: 1;
      }
    }
  }

  .favorite-icon-wrapper {
    @include transition(opacity);

    position: absolute;
    right: rem(16);
    bottom: rem(16);
    opacity: 0;
    cursor: pointer;

    .favorite-icon {
      color: $red-accent;

      & path:first-of-type {
        @include transition;

        opacity: 0;
      }

      &.favorite {
        color: $red;

        & path:first-of-type {
          opacity: 1;
        }
      }

      &:hover {
        & path:first-of-type {
          opacity: 1;
        }
      }

      &:active {
        color: $red;
      }
    }
  }
}
