@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  min-height: 100vh;
  background: var(--background);
  color: var(--foreground);
  font-size: 0.875rem;
  line-height: 1.313rem;
  letter-spacing: 0.016rem;
  font-family: 'Roboto Flex', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
